<!DOCTYPE html>
<html lang="en">
  <head>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Chitrank" >

    <title>Home Navbar</title>
	
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">
   
    
    <style type="text/css">
		li.not_show {
			visibility:hidden;		
		}    
    
    </style>
    <script type="text/javascript" >
		
		
    /* Validate Signup Details */
    function signup_username()
    {
       var x=document.forms["signup_form"]["username"].value;
       if ((x==null || x=="")) 
       {
          document.Error("<p> Please fill in the Sign up details.. </p>")
          
          return false;
       }
		}
    function signupForm()
    {
       var x=document.forms["signup_form"]["username"].value;
       var y=document.forms["signup_form"]["email"].value;
       var z=document.forms["signup_form"]["password"].value;
       if ((x==null || x=="") || (y==null || y=="") || (z==null || z=="")) 
       {
          document.Error("<p> Please fill in the Sign up details.. </p>")
          
          return false;
       }
		}

	 </script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <!-- Facebook Connect trans-startup app code starts-->
  <div id="fb-root"></div>
	<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=578682558841246";
  			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
	</script>
  <!-- Facebook Connect trans-startup app code ends
	<!-- Modal 1 -->
              <!-- define the sign up modal finished -->  
				  <!-- sign up modal -->
				  <!-- Modal -->
					<div class="modal fade" id="signup">
					<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">TrackLeech Sign Up</h4>
						</div>
						<div class="modal-body" align="center">
								<!-- Fb Login --> <div class="fb-login-button" data-width="400">Login with Facebook</div><!-- Add FB Button Here --> <br><br>							
								<!-- Add Google Button Here -->
								<!-- Add Twitter Button Here -->
								OR
							<form name="signup_form"class="navbar-form form-inline" action="/signup/" method="post" onsubmit="return signupForm();">
								{% csrf_token %}
								<input type="text" name="username" value="" placeholder="username" class="form-control" style="width: 400px;" size="100" onchange='return signup_username();'><br><br> 
								<input type="text" name="email" value="" placeholder="email" class="form-control" style="width: 400px;" size="100">  <br><br>
								<input type="password" name="password" value="" placeholder="password" class="form-control" style="width: 400px;" size="100"> <br><br>
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" value="addup">Sign Up</button><br><br>
								<a data-toggle="modal" data-dismiss="modal" href="#signin" >Already a member ? Sign In</a>
							</form>
							
							<div class="pull-right">
																													
															
							</div>
						</div>
						<div class="modal-footer">
						<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Sign Up</button>
						<a data-toggle="modal" href="#signin" >Already a member ? Sign In</a> -->
						</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
              <!-- sign up modal finish -->
	  
	  
	  <!-- Modal 2 -->
		<!--Defining sign in modal -->
				  <!-- Modal -->
				  <div class="modal fade" id="signin">
					<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" align="center">TrackLeech Sign In</h4>
						</div>
						<div class="modal-body">
								
								
								<!-- FB login --> <center> <div class="fb-login-button" data-width="400">Sign in with Facebook</div><br><br><br> </center>
								OR
								<br><br><br> 
						<form name="signin_form" class="navbar-form form-inline" action="/signin/" method="post" align="center">
								{% csrf_token %}
								<input type="text" name="username" id="username" value="" placeholder="username or email" class="form-control" style="width: 400px; " size="100"><br><br>
								<input type="password" name="password" id="password" value="" placeholder="password" class="form-control" style="width: 400px;" size="100"><br>
								<input type="checkbox" class="form-control" style="width: 12px;" name="Remember me" > Remember me</input>
								<a href="#">Forgot Password</a><br>							
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" value="signedin">Sign In</button><br><br>
								<a data-toggle="modal" data-dismiss="modal" href="#signup">Not a member ? Sign Up</a>
								
							</form>
						</div>
						<div class="modal-footer">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button> -->
						{% if form.errors %}
        							<p class="error">User or password incorrect</p>
      						{% endif %}		
						</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				
              <!-- sign in modal finish -->
	
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
    	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	    </button>
            <a class="navbar-brand" href="{% url home %}">TrackLeech</a> <!-- {% url home %}, {% url search %} as per defined in urls.py  -->
            
            <div class="nav-collapse collapse">
              <ul class="nav navbar-nav">
				<li>
					<form class="navbar-form form-inline pull-right" action="{% url search %}">
   				<input type="text" placeholder="Where are you going ?" class="form-control" style="width: 200px;" id="async_typeahead" data-provide="typeahead">
					<button type="submit" class="btn"><b>Search</b></button>
					</form>
				</li>
				<!--
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Popular</b><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Friends</a></li>
                    <li><a href="#">Silver Class</a></li>
                    <li><a href="#">Gold Class</a></li>
                    <li><a href="#">Platinum Class</a></li>
                    
                    <!-- <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
              </ul>
              
              <!-- right side contents of the navbar -->
              <ul class="nav navbar-nav pull-right">
			  {% if user.is_authenticated %}
			  		<!-- calling sign up modal -->
			  		<li class="dropdown">
			  			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Hello {{ user.username }}</b><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Learn How to use TrackLeech</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="/signout/">Sign Out</a></li>
						</ul>
					</li>
              {% else %}
              		<li><a data-toggle="modal" href="#signup"><b>Sign Up</b></a></li> 
					<li><a data-toggle="modal" href="#signin"><b>Sign In</b></a></li>
			  {% endif %}	
				  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Help</b><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Learn How to use TrackLeech</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">our Partners</a></li>
                  </ul>
              </li>
              <li><button type="submit" class="btn navbar-form form-inline"><b>List your Transportation</b></button></li>
              <li>{{ start_session }}</li>
                </li>
              </ul>
            </div>
            
          </div>
        </div>

      </div>
    </div>

	
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
     <script src="/static/js/typeahead.js"></script>
    <script src="/static/js/typeahead.min.js"></script>
    <script src="/static/js/holder.js"></script>
  </body>
</html>
